{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Donate</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body bgcolor=RebeccaPurple>
  <script src="script.js">
  </script>
  <div class="bannertable">
    <img src="/media/donate.jpg" width= 100% class= "banner"></img>
       <table width = 100% class="tablebanner">
      <tr height="400px">
        <td width="20%" bgcolor="Pink" align="center"><div class= "bannersticker"><a href="#AnimalCruelty" class="linkstyle" style="text-decoration: none; color:darkblue;"><img src= "/media/lion.png" width="100%" ><h4>Animal Cruelty</h4></div></a></td>
        <td width="20%" bgcolor="LightBlue" align="center"><div class= "bannersticker"><a href="#ClimateChange" class="linkstyle" style="text-decoration: none; color:darkblue;"><img src= "/media/heatwave.png" width="100%" ><h4>Climate Change</h4></a></div></td>
        <td width="20%" bgcolor="Orchid" align="center"><div class= "bannersticker"><a href="#GlobalPoverty"  class="linkstyle" style="text-decoration: none; color:darkblue;"><img src= "/media/poverty.png" width="100%"><h4>Global Poverty</h4></a></div></td>
        <td width="20%" bgcolor="LightSkyBlue" align="center"><div class= "bannersticker"><a href="#HumanRights"  class="linkstyle" style="text-decoration: none; color:darkblue;"><img src= "/media/protest.png" width="100%"><h4>Human Rights</h4></a></div></td>
        <td width="20%" bgcolor="hotpink" align="center"><div class= "bannersticker"><a href="#Health"  class="linkstyle" style="text-decoration: none; color:darkblue;"><img src= "/media/cardiogram.png" width="100%"><h4>Health</h4></a></div></td>
      </tr>
      </table>
      </div>
<div style="color:White; background-color:Pink" class= "tablebanner"><br/>
      <H1 id="AnimalCruelty" style = "color: #70003B; margin-left:20px;">Animal Cruelty</H1>
      
      <h2 style = "color: #A66085;"><a href="http://americanhumane.org/" style="text-decoration: none;">American Humane</a></h2>
<p style = "color: black; margin-left:20px;"> Founded in 1877, American Humane has spent well over a century caring for animals both large and smile, wild and domesticated. Your donations help animals find shelter, urgent care, and forever homes. The organization also focuses on promoting bonds between animals and humans.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://secure.americanhumane.org/site/Donation2;jsessionid=00000000.app276b?df_id=8853&mfc_pref=T&8853.donation=form1&s_src=FY20-HPTOPMENU-FTH&NONCE_TOKEN=D8A71BD8A5EC591F82445A5EE64D5E62" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>
<h2 style = "color: #A66085"> <a href="https://www.awf.org/" style="text-decoration: none;">Africa Wildlife Foundation</a></h2>
<p style = "color: black; margin-left:20px;"> The Africa Wildlife Foundation strives to protect endangered wildlife and their habitats across Africa so they can continue to thrive. Along with combating animal poaching and trafficking, the organization helps with economic development and community empowerment throughout the continent.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://secure.awf.org/?_ga=2.145378804.1383179252.1600547246-1802491668.1600450005" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>

<h2 style = "color: #A66085"> <a href="https://bestfriends.org/" style="text-decoration: none;">Best Friends Animal Society</a></h2>
<p style = "color: black; margin-left:20px;"> Founded over 30 years ago, Best Friends Animal Society is the United States' largest no-kill shelter for companion animals such as cats, dogs, and horses.
Best Friends Animal Society not only offers shelter to homeless pets in Los Angeles, Atlanta, New York, and Utah, but it also works with local shelters to teach people about the need for spay and neuter, breed discrimination, and puppy mills. Their goal? To reduce the number of animals killed in shelters each year.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://support.bestfriends.org/site/Donation2?df_id=2884&mfc_pref=T&2884.donation=form1" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>

<h2 style = "color: #A66085"> <a href="https://www.humanesociety.org/" style="text-decoration: none;">The Humane Society</a></h2>
<p style = "color: black; margin-left:20px;"> The Humane Society is one of the most well-known animal welfare programs in the world, and for good reason: Not only does the Humane Society have a number of programs designed to support domesticated animals, but they've launched initiatives against wildlife hunting, animal testing, and factory farming, too
Some of the Humane Society's accomplishments include shutting down puppy mills, strengthening laws regarding animal welfare and providing care and protection to animals in need through their veterinary and rehabilitation centers, wildlife support units, and Animal Rescue Team. 
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://secure.humanesociety.org/site/Donation2?23356.donation=form1&df_id=23356&v=animals&idb=1979505160&mfc_pref=T&NONCE_TOKEN=44079FA2FD382C881B83401B9D13D7C8&s_src=web_topnav_donate&23356_donation=form1&utm_expid=.nCkU_mg2SzqaB_Hqg2nzTw.1&utm_referrer=https%3A%2F%2Fwww.humanesociety.org%2F" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>
<h2 style = "color: #A66085"> <a href="https://www.friendsofanimals.org/" style="text-decoration: none;">Friends of Animals</a></h2>
<p style = "color: black; margin-left:20px;"> Established in New York City in 1957, Friends of Animals' original goal was to protect cats and dogs by offering spay and neuter cats procedures and they have achieved that goal: It's estimated that the organization has assisted in the spaying and neutering of over 2.5 million pets. 
Since its founding, Friends of Animals has taken an active role in advocating against animal homelessness, testing, hunting, and fur-collecting, as well as protecting and supporting wildlife and wildlife habitats around the world.
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E344259&id=3" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>
<h2 style = "color: #A66085"> <a href="https://www.worldwildlife.org/" style="text-decoration: none; color:darkblue;">World Wildlife Fund</a></h2>
<p style = "color: black; margin-left:20px;"> With over five million supporters and a presence in over 100 countries worldwide, the World Wildlife Fund (aka the World Wide Fund for Nature) is, perhaps, one of the best-known advocacy groups on the planet. Their platform is the preservation of wildlife and reduction of human impact on the environment–and they've made a serious impact Since 1995, the WWF has invested over $1 billion in conservation initiatives.
Today, the WWF's focus is on restoring 36 different species, such as elephants, tunas, and whales, among others, and reducing the ecological footprint in six key areas, like carbon emissions and fishing.
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://support.worldwildlife.org/site/SPageServer?pagename=main_monthly_donation&s_src=AWE2101OQ18299A04198TX&_ga=2.147215230.819038888.1600547300-1932671222.1600450100&utm_expid=.W3atnpWES2aNRKISe_MogA.2&utm_referrer=https%3A%2F%2Fwww.worldwildlife.org%2F" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>
<h2 style = "color: #A66085"> <a href="https://www.aspca.org/" style="text-decoration: none;color: darkblue;">American Society for the Prevention of Cruelty to Animals (ASPCA)</a></h2>
<p style = "color: black; margin-left:20px;"> Founded in 1866, the American Society for the Prevention of Cruelty to Animals (otherwise known as the ASPCA) was North America's very first humane society–and they've maintained their platform of cruelty prevention ever since. In fact, the ASPCA has helped over 47,000 animals, performed over 89,000 spay and neuter procedures, and donated $12 million to other animal welfare programs. 
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://secure.aspca.org/donate/donate?ms=wb_hom_position1-sept-evergreen-v2-20200918&initialms=wb_hom_position1-sept-evergreen-v2-20200918&pcode=WEB1HOM&lpcode=WEB2HOM" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>
</div>

<div style="color:White; background-color:LightBlue" class= "tablebanner"><br/>
      <H1 id="ClimateChange" style = "color: #08445B; margin-left:20px;">Climate Change</H1>
      
      <h2 style = "color: #63778A"> <a href="http://www.opusa.org/" style="text-decoration: none; color:darkblue;">Operation USA</a></h2>
<p style = "color: black; margin-left:20px;"> From ongoing earthquake recovery in Ecuador and Nepal to programs for Native Americans in South Dakota, Operation USA delivers aid to all corners of the globe. The non-profit has worked in 100 countries since 1979, focusing not only on disaster relief and reconstruction, but on helping and educating underserved communities.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://give.opusa.org/give/34510/#!/donation/checkout" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>
<h2 style = "color: #63778A"> <a href="https://www.wri.org/" style="text-decoration: none; color:darkblue;">World Resources Institute</a></h2>
<p style = "color: black; margin-left:20px;"> The World Resources Institute is a research organization that goes beyond research to create solutions to sustain our natural resources. The non-profit works in over 50 countries to address the topics of climate, food, water, energy, cities and transport, and forests.
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://www.wri.org/donate-now" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>

<h2 style = "color: #63778A"> <a href="https://lets-fund.org/clean-energy/" style="text-decoration: none; color:darkblue;">The Clean Energy Innovation program at the Information Technology and Innovation Foundation</a></h2>
<p style = "color: black; margin-left:20px;"> The Information Technology and Innovative Foundation, a highly regarded US think tank, runs the Clean Energy Innovation program. That program looks into smart clean energy research and development and the effectiveness of increasing spending in that space, then advises policymakers on the best course of action.
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://www.facebook.com/donate/306281847374259/" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>

<h2 style = "color: #63778A"> <a href="https://www.catf.us/" style="text-decoration: none; color:darkblue;">Clean Air Task Force</a></h2>
<p style = "color: black; margin-left:20px;"> The Clean Air Task Force is a US-based non-governmental organization (NGO) that has been working to reduce air pollution since its founding in 1996. It led a successful campaign to reduce the pollution caused by coal-fired power plants in the US, helped limit the US power sector’s CO2 emissions, and helped establish regulations of diesel, shipping, and methane emissions.
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://www.catf.us/donate-form/" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>

<h2 style = "color: #63778A"> <a href="https://www.rainforestcoalition.org/" style="text-decoration: none; color:darkblue;">Coalition for Rainforest Nations</a></h2>
<p style = "color: black; margin-left:20px;"> The Coalition for Rainforest Nations is unique in that it’s an intergovernmental organization of over 50 rainforest nations around the world, from Ecuador to Bangladesh to Fiji. It was formed after Papua New Guinea’s Prime Minister Michael Somare gave a speech in 2005, and since then it’s been partnering directly with governments and communities to protect their rainforests.
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://www.rainforestcoalition.org/donations/" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>

<h2 style = "color: #63778A"> <a href="
https://rainforestfoundation.org/" style="text-decoration: none; color:darkblue;">Rainforest Foundation US</a></h2>
<p style = "color: black; margin-left:20px;"> Rainforest Foundation US works to protect the rainforests of Central and South America by partnering directly with folks on the front lines: indigenous people in Brazil, Peru, Panama, and Guyana, who are deeply motivated to protect their lands. The foundation supplies them with legal support as well as technological equipment and training so they can use smartphones, drones, and satellites to monitor illegal loggers and miners, and take action to stop them.
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://rainforestfoundation.networkforgood.com/projects/22569-general-donation" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>


<h2 style = "color: #63778A"> <a href="https://sandbag.asia/?page_id=27" style="text-decoration: none; color:darkblue;">Sandbag</a></h2>
<p style = "color: black; margin-left:20px;"> Based in London and Brussels, Sandbag is a nonprofit think tank that uses data analysis to help build evidence-based climate policy. It advocates for carbon capture and storage in the EU, pushes for strong carbon pricing, and works to accelerate the coal phase-out in Europe so as to ensure all plants are closed before 2030.
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://sandbag.asia/?page_id=1015" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>


<h2 style = "color: #63778A"> <a href="https://climateemergencyfund.org/" style="text-decoration: none; color:darkblue;">Climate Emergency Fund</a></h2>
<p style = "color: black; margin-left:20px;"> The Climate Emergency Fund is different from the groups listed above. It was founded recently — July 2019 — with the goal of quickly getting money to groups engaged in climate protest. It has already raised and disbursed several hundreds of thousands of dollars in grants to groups it has vetted. The grantees range from the well-established 350.org to the fledgling Extinction Rebellion, an activist movement that uses nonviolent civil disobedience — like filling the streets and blocking intersections — to demand governments do more to stave off mass extinction.
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://climateemergencyfund.org/?form=donate" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>
</div>

<div style="color:White; background-color:Orchid" class= "tablebanner"><br/>
      <H1 id="GlobalPoverty" style = "color: #F5D4FF;margin-left:20px;">Global Poverty</H1>
      
      <h2 style = "color: #EEB5FF"> <a href="https://www.ri.org/" style="text-decoration: none; color:darkblue;">Relief International</a></h2>
<p style="margin-left:20px;"> This non-profit works in 16 different countries to provide food, education, and medical care to “people in the world’s most fragile settings.” Now, its workers are building isolation and treatment centres in refugee camps for COVID-19 patients, delivering care packages to the homes of refugees, and opening more health clinics.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://www.ri.org/donate/" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR>
<h2 style = "color: #EEB5FF"> <a href="https://wck.org/" style="text-decoration: none; color:darkblue;">World Central Kitchen</a></h2>
<p style="margin-left:20px;"> World Central Kitchen (WCK) has served over 25 million meals to the hungry since 2010, and now it’s tackling emergency food relief during a global pandemic. Working in dozens of cities, it provides over 250,000 fresh meals each day to those without access to food—and it’s doing this by working with restaurants directly to help them keep their doors open while also nourishing people in need during COVID-19.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://donate.wck.org/give/236738/#!/donation/checkout" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR>

<h2 style = "color: #EEB5FF"> <a href="https://www.actionagainsthunger.org/" style="text-decoration: none; color:darkblue;">Action Against Hunger</a></h2>
<p style="margin-left:20px;"> Over 800 million people go hungry every day, according to Action Against Hunger. They hope to fight malnutrition and food crises in over 20 countries with help from donations.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://www.actionagainsthunger.org/donate/COVID19-relief-fund" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR>


<h2 style = "color: #EEB5FF"> <a href="https://www.charitywater.org/" style="text-decoration: none; color:darkblue;">charity: water</a></h2>
<p style="margin-left:20px;"> According to charity: water, one in 10 people don’t have access to clean drinking water. The organization hopes to change these stats by bringing clean and safe drinking water to developing countries. It has already funded over 29,000 water projects around the world.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://www.charitywater.org/september?donate=true" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR>

<h2 style = "color: #EEB5FF"> <a href="https://endhomelessness.org/" style="text-decoration: none; color:darkblue;">National Alliance to End Homelessness</a></h2>
<p style="margin-left:20px;"> The National Alliance to End Homelessness wants to see a world where homelessness is a distant memory. It focuses on trying to shape federal policy and finding solutions to end homelessness, like short-term rental assistance programs and community education.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://help.endhomelessness.org/donate/" style="text-decoration: none;"><span>Donate now</span></a></button><BR>
</div>

<div style="color:White; background-color:LightSkyBlue" class= "tablebanner"><br/>
      <H1 id="HumanRights" style = "color: #263C9A;margin-left:20px;">Human Rights</H1>
      
      <h2 style = "color: #D3E4FE"> <a href="https://www.innocenceproject.org/" style="text-decoration: none; color:darkblue;">The Innocence Project</a></h2>
<p style="margin-left:20px;"> More than 350 innocent individuals in the US have been exonerated thanks to DNA evidence. The Innocence Project fights for justice by re-examining cold cases with new DNA evidence and freeing those who were wrongfully convicted. The non-profit also aims to reform the criminal justice system to prevent future wrongful incarcerations.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://www.innocenceproject.org/donate/?f_src=FY21_web_x_gen_nmat_campNew000Top000Button_Main " style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>
<h2 style = "color: #D3E4FE"> <a href="https://www.thetrevorproject.org/" style="text-decoration: none; color:darkblue;">The Trevor Project</a></h2>
<p style="margin-left:20px;"> The ultimate goal of The Trevor Project is to end suicide among LGBTQ people under 25 by providing them with counselling and education. It offers young people support with trained counsellors via phone, text, and online chat. Every $1 donated allows people to get one more minute of counselling.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://give.thetrevorproject.org/give/63307/#!/donation/checkout?c_src=website&c_src2=headerdonatebutton" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>

<h2 style = "color: #D3E4FE"> <a href="https://www.nilc.org/" style="text-decoration: none; color:darkblue;">The National Immigration Law Centre (NILC)</a></h2>
<p style="margin-left:20px;"> This non-profit has defended the rights of low-income immigrants in the US since 1979. It works to provide immigrants access to health care and fights unconstitutional immigration policy. The non-profit also works to educate the public on the impact new laws would have on this marginalized group.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://www.nilc.org/donate/ " style="text-decoration: none;"><span>Donate now</span></a></button><BR/>

<h2 style = "color: #D3E4FE"> <a href="https://www.hopeforthewarriors.org/" style="text-decoration: none; color:darkblue;">Hope for the Warriors</a></h2>
<p style="margin-left:20px;"> Hope for the Warriors provides what it calls a full cycle of care to service members, veterans, and their families. It focuses on health and wellness, fostering a sense of community, and providing support for those transitioning from military to civilian life.
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://www.hopeforthewarriors.org/about/make-a-donation/ " style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>

<h2 style = "color: #D3E4FE"> <a href="https://www.globalfundforwomen.org/" style="text-decoration: none; color:darkblue;">Global Fund for Women</a></h2>
<p style="margin-left:20px;"> The Global Fund for Women proudly calls itself and its supporters champions for equality. From setting up the first women’s fund in Nepal to funding secret schools in Afghanistan, this bold organization strives to empower women and girls around the world and ensure they are granted basic human rights.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://act.globalfundforwomen.org/donate " style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>

<h2 style = "color: #D3E4FE"> <a href="https://www.hrw.org/" style="text-decoration: none; color:darkblue;">Human Rights Watch</a></h2>
<p style="margin-left:20px;"> Defending the rights of people across the globe is no small task, but the organization Human Rights Watch has been doing just this since 1978. About 400 journalists, attorneys, country experts, and many others work to publish non-partisan and independent reports every year on human rights conditions around the world.
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://donate.hrw.org/page/35850/donate/1?ea.tracking.id=geo" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>

<h2 style = "color: #D3E4FE"> <a href="https://whistleblower.org/" style="text-decoration: none; color:darkblue;">Government Accountability Project (GAP)</a></h2>
<p style="margin-left:20px;"> On their website, the Government Accountability Project states that courage is contagious. It believes that one whistle-blower will inspire more truth-tellers to come forward. This non-partisan group is the nation’s leading whistle-blower protection organization and works to defend those who bravely expose wrongdoing.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://crm.whistleblower.org/civicrm/contribute/transact?reset=1&id=2" style="text-decoration: none;"><span>Donate now</span></a></button><BR/>


<h2 style = "color: #D3E4FE"> <a href="https://www.aclu.org/" style="text-decoration: none; color:darkblue;">The American Civil Liberties Union (ACLU)</a></h2>
<p style="margin-left:20px;"> The ACLU has been defending the constitutional rights of individuals for almost 100 years. Whether it means fighting for LGBTQ rights or ensuring that women are able to make their own choices about their reproductive health, its mission is to protect the civil liberties of every person in the US.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://action.aclu.org/give/now?ms_aff=NAT&initms_aff=NAT&ms=web_horiz_nav_hp&initms=web_horiz_nav_hp&ms_chan=web&initms_chan=web" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>

<h2 style = "color: #D3E4FE"> <a href="https://www.ncoa.org/" style="text-decoration: none; color:darkblue;">National Council on Aging</a></h2>
<p style="margin-left:20px;"> One in three older adults doesn’t have economic security, according to the National Council on Aging. It then becomes increasingly difficult for older adults to address their own health concerns. The organization’s goal is to improve the health and financial situations of 10 million senior citizens by 2020.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://www.ncoa.org/get-involved/give/donate-online/" style="text-decoration: none;"><span>Donate now</span></a></button>
<BR/>

<h2 style = "color: #D3E4FE"> <a href="https://preventchildabuse.org/" style="text-decoration: none; color:darkblue;">Prevent Child Abuse America</a></h2>
<p style="margin-left:20px;"> This 501(c)(3) charity proudly designates 94% of its of its cash budget to programs that directly relate to its mission of stopping child abuse and neglect in the US. Prevent Child Abuse America uses donations to run parent education programs and to advocate for federal policies that promote children’s health and safety.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;border: 2px solid blue;" class="btndonate"><a href="https://preventchildabuse.org/donation/" style="text-decoration: none;"><span>Donate now</span></a></button><BR/>

    </div>

    <div style="color:White; background-color:hotpink" class= "tablebanner"><br/>
      <H1 id="Health" style = "color: #70003B;margin-left:20px;">Health</H1>
      
      <h2 style = "color: #A66085"><a href="http://www.alz.org/global/overview.asp" style="text-decoration: none; color:darkblue;">The Alzheimer’s Association</a></h2>
<p style = "color: black; margin-left:20px;"> The Alzheimer’s Association aims to fight and cure Alzheimer’s Disease from all sides. Donations provide care to those already affected by Alzheimer’s and connects them with support groups. The organization also funds research and clinical trials.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://act.alz.org/site/Donation2?df_id=32112&32112.donation=form1&_ga=2.68205841.1491620823.1600547731-1090895735.1600547731" style="text-decoration: none;"><span>Donate now</span></a></button><BR>
      <BR/>
<h2 style = "color: #A66085"> <a href="https://mhanational.org/" style="text-decoration: none; color:darkblue;">Mental Health America</a></h2>
<p style = "color: black; margin-left:20px;"> Founded in 1909, Mental Health America helps Americans understand, prevent, and treat mental health issues that can interfere with their overall wellness and ability to live a healthy life. They also focus on educating Americans about mental health issues through their online hub of information and tools.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://act.mhanational.org/site/Donation2;jsessionid=00000000.app20068b?idb=1723589774&df_id=2780&mfc_pref=T&2780.donation=form1&NONCE_TOKEN=45F999F8275DC46D5491ADD0623348A1&idb=62729518&2780_donation=form1" style="text-decoration: none;"><span>Donate now</span></a></button><BR><BR/>

<h2 style = "color: #A66085"> <a href="https://www.hear-the-world.com/en/knowledge/hearing-loss/hearing-loss-causes-risks-prevention?gclid=EAIaIQobChMI57_3xYjz6wIVWCUrCh1T1A-eEAAYASAAEgJdyvD_BwE" style="text-decoration: none; color:darkblue;">Hearing Health Foundation</a></h2>
<p style = "color: black; margin-left:20px;"> The Hearing Health Foundation has been researching hearing loss and tinnitus since 1958 with the aim of preventing and curing hearing loss and hearing-related diseases for good. They also focus on creating inclusive opportunities for those with hearing loss or other hearing disorders.
</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://hearinghealthfoundation.org/donate" style="text-decoration: none;"><span>Donate now</span></a></button><BR><BR/>

<h2 style = "color: #A66085"> <a href="https://www.amfar.org/" style="text-decoration: none; color:darkblue;">Foundation for AIDS Research (amfAR)</a></h2>
<p style = "color: black; margin-left:20px;"> The Foundation for AIDS Research has a simple goal: develop the scientific basis for a cure for AIDS by 2020. The foundation has invested over $500 million since 1985 in scientific AIDS research, public education, and public policy research.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://secure.amfar.org/site/Donation2;jsessionid=00000000.app30123b?df_id=2184&mfc_pref=T&2184.donation=form1&_ga=2.7203505.2024547001.1600547798-1955827817.1600450679&NONCE_TOKEN=F5779E86E8F1B3DE55E76C9194289720" style="text-decoration: none;"><span>Donate now</span></a></button><BR><BR/>

<h2 style = "color: #A66085"> <a href="http://reproductiverights.org/about-us" style="text-decoration: none; color:darkblue;">Center for Reproductive Rights</a></h2>
<p style = "color: black; margin-left:20px;"> This non-profit envisions a world where every woman is treated as an equal and is free to make crucial decisions related to her own reproductive health. Its attorneys fight both nationally and internationally to give women access to birth control, safe abortions, and all manners of reproductive care.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://secure3.convio.net/cfrr/site/Donation2;jsessionid=00000000.app361b?idb=1889754739&9666.donation=form1&df_id=9666&mfc_pref=T&NONCE_TOKEN=48BA116761CF4A986C9702D8658B1642&9666_donation=form1&s_subsrc=datasync&s_src=20RRFR0819HP&autologin=true&utm_campaign=20RRFR0819HP&utm_source=crr&_ga=2.66692718.1121899988.1582645307-1652788832.1582645307&utm_medium=web" style="text-decoration: none;"><span>Donate now</span></a></button><BR><BR/>

<h2 style = "color: #A66085"> <a href="https://www.lls.org/" style="text-decoration: none; color:darkblue;">Leukaemia & Lymphoma Society</a></h2>
<p style = "color: black; margin-left:20px;"> Finding a cure for blood cancer is just as important to the Leukaemia & Lymphoma Society as supporting those already diagnosed with cancer. This 501(c)(3) has invested over $1.2 million in research for clinical trials, and it also supports those already diagnosed with cancer through financial assistance, support groups, and access to live information specialists on their website.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://donate.lls.org/lls/donate" style="text-decoration: none;"><span>Donate now</span></a></button><BR><BR/>

<h2 style = "color: #A66085"> <a href="https://www.bcrf.org/" style="text-decoration: none; color:darkblue;">The Breast Cancer Research Foundation</a></h2>
<p style = "color: black; margin-left:20px;"> The Breast Cancer Research Foundation is the highest-rated breast cancer organization in the US. They fund over 300 researchers across the globe who are working to find a cure for this pervasive disease once and for all.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://give.bcrf.org/give/31404/#!/donation/checkout" style="text-decoration: none;"><span>Donate now</span></a></button><BR><BR/>

<h2 style = "color: #A66085"> <a href="https://www.crisistextline.org/" style="text-decoration: none; color:darkblue;">Crisis Text Line</a></h2>
<p style = "color: black; margin-left:20px;"> When people need to talk to a crisis counsellor ASAP, Crisis Text Line offers free 24/7 support. Anyone can text 741741 from anywhere in the US to be connected to a trained crisis counsellor, which is an especially helpful resource for people struggling with anxiety and depression during the COVID-19 pandemic.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://donorbox.org/crisistextline" style="text-decoration: none;"><span>Donate now</span></a></button><BR><BR/>

<h2 style = "color: #A66085"> <a href="https://www.hearttoheart.org/" style="text-decoration: none; color:darkblue;">Heart to Heart International</a></h2>
<p style = "color: black; margin-left:20px;"> Heart to Heart International has shipped medical supplies to over 131 countries and given over $2 billion in aid to the less fortunate. To help combat the coronavirus, it has created Stay Healthy kits that include standard hygiene products, but also gloves, masks, and bottles of hand sanitizer.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://secure.touchnet.com/C25068_ustores/web/store_main.jsp?STOREID=31&SINGLESTORE=true" style="text-decoration: none;"><span>Donate now</span></a></button><BR><BR/>

<h2 style = "color: #A66085"> <a href="https://www.nytimes.com/column/neediest-cases" style="text-decoration: none; color:darkblue;">The New York Times Neediest Cases Fund</a></h2>
<p style = "color: black; margin-left:20px;"> The New York Times Neediest Cases Fund has been helping those in need since its inception in 1911. When COVID-19 swept the globe, the Neediest Cases Fund launched a special fundraiser for coronavirus relief. Donations to this fund will be used to directly support four other non-profits on the front lines of the fight against COVID-19.</p>
<button type="button" style="margin-left:490px;margin-bottom:20px;margin-top:20px;" class="btndonate"><a href="https://charity.gofundme.com/o/en/campaign/neediest-cases-fund-covid-relief" style="text-decoration: none;"><span>Donate now</span></a></button><BR><BR/>
</div>
  </body>
</html>